<div class="container">
  <div class="row">
    <div class="col-xs-11 col-sm-5 col-md-3 dashboard-trip-card dashboard-card-new">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      <p>New trip</p>
      <%= link_to "", "#new-survey-modal", class: "trip-card-link", "data-toggle" => "modal" %>
    </div>

    <!-- new survey modal -->

    <div class="modal fade new-survey-modal" id="new-survey-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Create new trip</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for Survey.new do |f| %>
            <%= f.input :city, placeholder: "Where to ?", class: "new-survey-modal-city", label: false, required: true %>
            <%= f.input :start_date, placeholder: "When ?", as: :string, input_html: { type: "text", class: "datepicker" }, label: false %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Create trip", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- end of modal -->

    <% @user.surveys.each do |survey| %>
    <div class="col-xs-11 col-sm-5 col-md-3 dashboard-trip-card filter">
      <div>
        <% image = if survey.cover_picture?
          cl_image_path(survey.cover_picture.path, width: 500, height: 500, crop: :fill)
        else
          image_path("default-card.jpg")
        end
        %>

        <div class="card-image" style="background-image: url(<%= image %>);">
        </div>
        <div class="trip-info">
          <% if survey.status.downcase == "sent" %>
          <p><%= pluralize(survey.answers.count, 'answer') %></p>
          <% else %>
          <p><%= survey.status %></p>
          <% end %>
        </div>
        <%= link_to "", survey_path(survey), class: "trip-card-link" %>
      </div>
      <div class="trip-title">
        <% if survey.city %>
        <% city = survey.city.split(",").first %>
        <p><%= city[0,18].capitalize %></p>
        <% end %>
      </div>
      <div class="trip-date">
        <% if survey.start_date %>
        <p><%= survey.start_date %></p>
        <% end %>
      </div>
      <div class="trip-destroy-button">
        <%= link_to survey_path(survey), data: { confirm: 'Are you sure?' }, method: :delete do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </div>
      <% if survey.status.downcase != "sent" %>
      <div class="trip-status-tosend">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<%= content_for (:after_js) do %>
<script type="text/javascript">
  $(document).ready(function(){
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      todayHighlight: true,
      autoclose: true
    });

  });

</script>
<% end %>
