<div class="container-fluid profile-banner" style="background-image: url(
  <% if current_user.surveys.count > 0 && current_user.surveys.last.cover_picture? %>
  <%= cl_image_path current_user.surveys.last.cover_picture.path, width: 2000, height: 1000, crop: :fill %>
  <% else %>
  <%= image_path("plane.jpg") %>
  <% end %>
  );">
  <div class="profile-banner-info">
    <div class="profile-banner-image">
      <% if @user.photo? %>
        <%= cl_image_tag@user.photo.path, height: 100, width: 100, crop: :fill, class: "avatar-large" %>
      <% elsif @user.facebook_picture_url? %>
        <%= image_tag @user.facebook_picture_url.gsub("type=square", "type=large"), class: "avatar-large" %>
      <% else %>
        <%= image_tag "ninja.png", class: "avatar-large" %>
      <% end %>
    </div>
    <div class="profile-banner-user">
      <p><%= @user.first_name %> <%= @user.last_name %></p>
    </div>
  </div>
</div>
<div class="row profile-content">
  <div class="profile-stats col-xs-12 col-sm-6">
    <h4>Overview</h4>
    <div class="stats-container">
      <div class="stats-fact">
        <h4><%= current_user.surveys.count %></h4>
        <p><%= "trip".pluralize(current_user.surveys.count) %></p>
      </div>
      <div class="stats-fact">
        <h4><%= current_user.answers.count %></h4>
        <p><%= "answer".pluralize(current_user.surveys.count) %></p>
      </div>
    </div>
  </div>
  <div class="profile-map col-xs-12 col-sm-6">
    <div id="map" style="width: 100%; height: 300px;"></div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
     var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#00C3C7"}]}];
      var handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
        styles: styles },
      internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(2);
        }
      });
    });
  <% end %>
<% end %>
