<div class="container-fluid profile-banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.4) 50%), url(
  <% if current_user.dashboard_cover %>
  <%= cl_image_path current_user.dashboard_cover.path, width: 2000, height: 1000, crop: :fill %>
  <% elsif current_user.surveys.count > 0 && current_user.surveys.last.cover_picture? %>
  <%= cl_image_path current_user.surveys.last.cover_picture.path, width: 2000, height: 1000, crop: :fill %>
  <% else %>
  <%= image_path("plane.jpg") %>
  <% end %>
  );">

  <button type="button" class="survey-image-button" data-toggle="modal" data-target="#coverPictureModal">
    <i class="fa fa-camera" aria-hidden="true"></i>
  </button>

</div>


<div class="modal fade" id="coverPictureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add picture</h4>
      </div>
      <div class="modal-body">
        <div id="new_cover_picture_form">
          <%= simple_form_for current_user, url: user_path(current_user) do |f| %>
          <%= f.input :dashboard_cover, as: :attachinary, label: "Dashboard cover picture" %>
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="profile-stats">
      <h4>Overview</h4>
      <div class="stats-container">
        <div class="stats-fact">
          <h4><%= current_user.surveys.count %></h4>
          <p><%= "trip".pluralize(current_user.surveys.count) %></p>
        </div>
        <div class="stats-fact">
          <h4><%= current_user.answers.count %></h4>
          <p><%= "answer".pluralize(current_user.answers.count) %> given</p>
        </div>
        <div class="stats-fact large-fact">
          <% if current_user.surveys.empty? %>
          <p>No trips yet, create a new one!</p>
          <% elsif current_user.hometown == "" || current_user.hometown == nil %>
          <p>Set your "current city" in settings</p>
          <% else %>
          <h4><div id="distance"></div></h4>
          <% city =  current_user.surveys.last.city.split(",").first %>
          <span style="font-size: 12px;"><%= city[0,18].upcase %> to <%= current_user.hometown.upcase %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="profile-map">
      <div id="map" style="width: 100%; height: 55vh; margin-top: 2vh;"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>

<script>
  <% unless @user.surveys.empty? %>


  var p1 = new google.maps.LatLng(<%= @user.latitude%>, <%= @user.longitude%> );
  var p2 = new google.maps.LatLng(<%= @survey.latitude %>,<%= @survey.longitude %>);
  var outputDiv = document.getElementById('distance');
  var distance = calcDistance(p1, p2)
  outputDiv.innerHTML += "<h1>" + distance + " " + "km" + "</h1>"

//calculates distance between two points in km's
function calcDistance(p1, p2) {
  return (google.maps.geometry.spherical.computeDistanceBetween(p1, p2) / 1000).toFixed(0);
}
<% end %>

// MAP:

$(document).ready(function() {
  var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},
  {"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7FD8D8"}]}];
  var handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      styles: styles },
      internal: {
        id: 'map' }
      }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(2);
        }
      });
    });
  </script>
  <% end  %>






