<div class="container-fluid">
  <div class="dashboard-profile">
    <img src="<% if @user.facebook_picture_url %>
    <%= @user.facebook_picture_url %>
    <% elsif @user.profile_picture %>
    <%= @user.profile_picture %>
    <% else %>
    <%= image_path("ninja.png") %>
    <% end %>
    " alt="", class="avatar-large">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
  <div class="row">
    <% @user.surveys.each do |survey| %>
    <div class="col-xs-11 col-sm-5 col-md-3 dashboard-trip-card filter">
      <div class="card-image" style="background-image: url(
        <% if survey.cover_picture? %>
        <%= cl_image_path survey.cover_picture.path, width: 500, height: 500, crop: :fill %>
        <% else %>
        <%= image_path("default-card.jpg") %>
        <% end %>
        );"></div>
        <div class="trip-title">
          <p><%= survey.city.split(",").first %></p>
        </div>
        <div class="trip-date">
          <p><%= survey.start_date %></p>
        </div>
        <div class="trip-info">
          <p><%= survey.answers.count %> <%= "answer".pluralize %></p>
        </div>
        <% if survey.status == "Sent" %>
        <div class="trip-status-sent">
          <p>Sent</p>
        </div>
        <% else %>
        <div class="trip-status-tosend">
          <p>To send</p>
        </div>
        <% end %>
        <%= link_to "", survey_path(survey), class: "trip-card-link" %>
      </div>
      <% end %>
      <div class="col-xs-11 col-sm-5 col-md-3 dashboard-trip-card dashboard-card-new">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        <p>New trip</p>
        <%= link_to "", new_survey_path, class: "trip-card-link" %>
      </div>
    </div>
  </div>
