<div class="container-fluid">
  <div class="row profile">
    <div class="col-xs-2">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="<% if @user.facebook_picture_url %>
          <%= @user.facebook_picture_url %>
          <% elsif @user.profile_picture %>
          <%= @user.profile_picture %>
          <% else %>
          <%= image_path("ninja.png") %>
          <% end %>" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.first_name %> <%= @user.last_name %>
          </div>
          <div class="profile-usertitle-job">
            Paris
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#profile" data-toggle="tab">
                <i class="fa fa-home" aria-hidden="true"></i>
                Profile
              </a>
            </li>
            <li>
              <a href="#mytrips" data-toggle="tab">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                My trips
              </a>
            </li>
            <li>
              <a href="#sentsurveys" data-toggle="tab">
                <i class="fa fa-users" aria-hidden="true"></i>
                Friends trips
              </a>
            </li>
            <li>
              <a href="#mysettings" data-toggle="tab">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                Settings
              </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-xs-10">
      <div class="profile-content tab-content">
        <div class="tab-pane active" id="profile">
          <%= render 'profile' %>
        </div>
        <div class="tab-pane" id="mytrips">
          <%= render 'mytrips' %>
        </div>
        <div class="tab-pane" id="sentsurveys">
          <%= render 'sentsurveys' %>
        </div>
        <div class="tab-pane" id="mysettings">
          <%= render 'users/edit' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for (:after_js) do %>
  <script>
    $(function(){
      url = document.location.toString();
      if (url.match('#')) {
        $('.nav a[href="#' + url.split('#')[1] + '"]').tab('show');
      };

      // $('.nav a').on('shown.bs.tab', function (e) {
      //     window.location.hash = e.target.hash;
      // });
    });
  </script>
<% end %>
