<div class="container-fluid">
  <div class="dashboard-profile">
    <img src="<%= @user.facebook_picture_url %>" alt="">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
  <div class="row">
    <% @user.surveys.each do |survey| %>
    <div class="col-xs-11 col-sm-5 col-md-3 dashboard-trip-card" style="background-image: linear-gradient(rgba(47, 50, 58, 0.35), rgba(47, 50, 58, 0.65) ), url(<%= image_path("default.jpg") %>);">
      <p><%= survey.city %></p>
      <p><%= survey.start_date %></p>
      <%= link_to "", survey_path(survey), class: "trip-card-link" %>
    </div>
    <% end %>
    <div class="col-xs-11 col-sm-5 col-md-3 dashboard-trip-card dashboard-card-new">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      <p>New trip</p>
      <%= link_to "", new_survey_path, class: "trip-card-link" %>
    </div>
  </div>
</div>
