<div class="banner" style="background-image: url(<%= image_path("background.jpg")%>);">
  <div class="container login-container">
    <div class="row">
      <div class="col-xs-12">
        <p>Welcome to <span style="color: #EE6352">Like</span><span style="color: #2F323A">Minded</span style="color: #2F323A"> <%= image_tag "logo_red.png" %></p>
      </div>


      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Log in</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook facebook-button" do %>
              <span class="fa fa-facebook"></span>
              Log in with Facebook
              <% end %>
              <hr>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <%= f.input :email, required: false, label: false, autofocus: true, placeholder: "Email" %>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <%= f.input :password, required: false, label: false, placeholder: "Password" %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
              </div>
            </div>

            <%= f.button :submit, "Log in", class:"btn btn-primary btn-block"  %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


