<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="questions">
        <ul class="tabs nav nav-tabs" role="tablist">
          <li role="presentation" class="tab active"><a href="#myquestions" aria-controls="My Questions" role="tab" data-toggle="tab">
            <i class="fa fa-question-circle"></i>
            <h3>My Questions</h3>
          </a>
        </li>
        <% Category.all.sort.each do |category| %>
        <li role="presentation" class="tab"><a href="#<%= category.name.downcase %>" aria-controls="<%= category.name.downcase %>" role="tab" data-toggle="tab">
          <i class="<%= category.icon_name %>"></i>
          <h3><%= category.name %></h3>
        </a>
      </li>
      <!-- Button trigger modal -->
      <button type="button" class="new-question-button-add" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>

      <% end %>


    </ul>
   <%= render 'surveys/tab_content_questions', question: question, survey: survey %>

  </div>
</div>
<div class="col-xs-4">
  <div class="survey-summary">
    <h3>Summary</h3>
    <div class="fixed-cards">
      <ul>
        <% if @survey.questions %>
        <% @survey.survey_questions.each do |sq| %>
        <li class="summary-question-card">
          <%= sq.question.content %>
          <i class="<%= sq.question.category.icon_name %> card-category" aria-hidden="true"></i>
          <%= link_to survey_survey_question_path(survey_id: @survey.id, id: sq.id), method: :delete, class: "delete-questions" do %>
          <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <% if @survey.survey_questions.count > 0 %>
  <div class="survey-button-container">
    <%= link_to "Go to friends selection", update_status_survey_path, method: :patch, class: "btn btn-danger survey-button" %>
  </div>
  <% end %>
</div>
</div>
</div>

