  <p><%= @survey.city %></p>
  <p><%= @survey.start_date %></p>
  <div class="row">
    <div class="col-xs-8">
      <div class="friends">
        <h4>Select friends to ask: </h4>
        <%= simple_form_for survey, url: update_survey_friends_survey_path do |f| %>
        <%= f.association :friends, label: false, as: :check_boxes, collection: User.all, label_method: :first_name, selected: survey.friends, wrapper_html:{class: "question-card"} %>
        <%= f.submit "Add to survey", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4 survey-summary">
      <h3>Sending to</h3>
      <ul>
        <% if @survey.survey_friends %>
          <% @survey.survey_friends.each do |sf| %>
          <li class="summary-question-card">
            <%= sf.user.first_name %>
            <%= link_to survey_survey_friend_path(survey_id: @survey.id, id: sf.id), method: :delete do %>
            <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>



