<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="friends">
        <h4>Select friends to ask: </h4>
        <%= simple_form_for survey, url: update_friends_survey_path do |f| %>
        <%= f.association :friends, label: false, as: :check_boxes, collection: User.where.not(id: current_user.id), label_method: :first_name, selected: survey.friends, wrapper_html:{class: "question-container"} %>
        <%= f.submit "Add friends", class: "btn btn-primary add-to-button" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="survey-summary">
        <h3>Your trip survey</h3>
        <div class="fixed-cards">
          <ul>
            <% if @survey.questions %>
            <% @survey.survey_questions.each do |sq| %>
            <li class="summary-question-card">
              <%= sq.question.content %>
            </li>
            <% end %>
            <% end %>
            <%= link_to "Edit questions", reverse_status_survey_path, method: :patch, class: "btn btn-primary survey-button" %>
          </ul>
        </div>
      </div>
      <% if @survey.survey_questions.count > 0 %>
      <div class="survey-button-container">
        <%= link_to "See answers", update_status_survey_path, method: :patch, class: "btn btn-danger survey-button" %>
      </div>
      <% end %>
    </div>
  </div>

</div>

