<div class="container-fluid answer-banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 50%), url(
  <% if @survey.cover_picture? %>
  <%= cl_image_path @survey.cover_picture.path, width: 2000, height: 1000, crop: :fill %>
  <% else %>
  <%= image_path("plane.jpg") %>
  <% end %>
  );">
  <div class="answer-banner-phrase text-center">
    <p>Here are your travel tips on <span><%= @survey.city.split(",").first %></span></p>
  </div>

  <button type="button" class="answer-image-button" data-toggle="modal" data-target="#pictureModal">
    <i class="fa fa-camera" aria-hidden="true"></i>
  </button>
</div>

<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add picture</h4>
      </div>
      <div class="modal-body">
        <div id="new_cover_picture_form">
          <%= simple_form_for @survey, url: update_cover_picture_survey_path do |f| %>
          <%= f.input :cover_picture, as: :attachinary %>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container response-global">
  <% @survey.questions.each do |question|%>
  <div class="response-question">
    <h4><%= question.content %></h4>
    <%= image_tag "#{question.category.name.downcase}.png", class: "answer-category" %>
  </div>
    <% question.answers.where(survey_id: @survey.id).each do |answer| %>
  <div class="response-container">
    <div class="product">
      <div class='product-upvote'>
        <div class="response-avatar">
          <% if answer.user.photo %>
          <%=  image_tag answer.user.photo, class: "avatar" %>
          <% elsif answer.user.facebook_picture_url %>
          <img src="<%= answer.user.facebook_picture_url %>" alt="" class="avatar">
          <% else %>
          <%= image_tag "ninja.png" %>
          <% end %>
        </div>
        <div class="response-user"><%= answer.user.first_name %></div>
      </div>
      <div class='product-body'>
        <h3><%= answer.location %></h3>
        <p><%= answer.content %></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-trash"></i></a></li>
      </ul>
    </div>
      </div>

    <% end %>
  <% end %>

  <div class="box-white">
    <h4 class="text-center">Here is the URL to send to your friends so they can answer your survey:</h4>
    <input class='share_link form-control text-center', value='<%= request.original_url %>/answering/<%= survey.token %>', readonly='readonly'></input>
    <h4 class="text-center">Also, you can share this link on facebook:</h5>
      <div class="actions text-center">
        <!-- Facebook Share Button -->
        <%= link_to "https://www.facebook.com/sharer/sharer.php?u=www.like-minded.tech/surveys/#{survey.id}/answering/#{survey.token}", target: 'blank', class: "btn btn-block btn-social btn-facebook facebook-button" do %>
        <span class="fa fa-facebook"></span>
        Share
        <% end %>
      </div>
    </div>
  </div>
</div>

