<div class="container-fluid response-survey-banner filter" style="background-image: url(
  <% if @survey.cover_picture? %>
  <%= cl_image_path @survey.cover_picture.path, width: 2000, height: 1000, crop: :fill %>
  <% else %>
  <%= image_path("plane.jpg") %>
  <% end %>
  );">
  <div class="response-banner-phrase">
    <p>Almost <span style="color: #EE6352">there</span></p>
  </div>
  <div class="response-survey-title">
    <span><%= @survey.city %></span>
  </div>

  <button type="button" class="survey-image-button" data-toggle="modal" data-target="#pictureModal">
    <i class="fa fa-camera" aria-hidden="true"></i>
  </button>

</div>
<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add picture</h4>
      </div>
      <div class="modal-body">
        <div id="new_cover_picture_form">
          <%= simple_form_for @survey, url: update_cover_picture_survey_path do |f| %>
          <%= f.input :cover_picture, as: :attachinary %>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container response-survey-answers-container">
  <% @survey.questions.each do |question|%>
  <div class="response-question">
    <p><%= question.content %> (<%= question.category.name %>)</p>
    <ul>
      <% question.answers.where(survey_id: @survey.id).each do |answer| %>
      <div class="response-answer">
        <li>
          <h4><%= answer.content %></h4>
          <h4><%= answer.location %></h4>
          <p> (by <%= answer.user.first_name %> <%= answer.user.last_name %>)</p>
        </li>
      </div>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
