

 <!--  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit or delete your questions</h4>
        </div>
        <div class="modal-body">
          <div id="new_question_form">
             #render 'surveys/edit_questions', question: question, survey: survey
          </div>
        </div>
      </div>
    </div>
  </div> -->

<%= simple_form_for [survey], html: { class: "flex-container-questions"} do |f| %>
  <%= f.submit "Add selection", class: "btn btn-primary add-to-button" %>

  <% Category.all.sort.each_with_index do |category, index| %>
    <div id="category-pane-<%= category.id %>">
      <%= render "surveys/category_pane", category: category, survey: survey, index: index, f: f %>
    </div>
  <% end %>

  <div id="category-pane-my">
    <%= render "surveys/category_pane_my", survey: survey %>
  </div>

<% end %>
<!-- </div> End of tab_content_questions  -->
