

 <!--  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit or delete your questions</h4>
        </div>
        <div class="modal-body">
          <div id="new_question_form">
             #render 'surveys/edit_questions', question: question, survey: survey
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <%= simple_form_for [survey], html: { class: "flex-container-questions"} do |f| %>
  <%= f.submit "Add selection", class: "btn btn-primary add-to-button" %>
  <% Category.all.sort.each_with_index do |category, index| %>
  <div role="tabpanel" class="tab-pane <%= index == 0 ? '' : 'hidden' %>" id="category-<%= category.id %>">
    <div class="form-group check_boxes optional survey_questions question-container">
      <input type="hidden" name="survey[question_ids][]" value="">
      <% category.questions.each do |question| %>
      <% in_survey = @survey.questions.include? question %>
      <label for="survey_question_ids_<%= question.id%>" class="checkbox <%= in_survey ? 'check' : '' %>">
        <div class="question-content">
          <%= question.content %>
        </div>
        <div class="question-check">
          <div class="check-container"><i class="fa fa-check"></i></div>
          <input class="check_boxes checkbox-trigger optional hidden" type="checkbox" value="<%= question.id%>" name="survey[question_ids][]" id="survey_question_ids_<%= question.id%>">
        </div>
      </label>
      <% end %>
    </div>
    <%= f.hidden_field :category, value: category.id %>
  </div>
  <% end %>
  <div role="tabpanel" class="tab-pane hidden" id="category-5">
    <%= simple_form_for [survey] do |f| %>
    <div class="form-group check_boxes optional survey_questions question-container">
      <input type="hidden" name="survey[question_ids][]" value="">
      <% survey.user.questions.each do |question| %>
      <% in_survey = @survey.questions.include? question %>
      <label for="survey_question_ids_<%= question.id%>" class="checkbox <%= in_survey ? 'check' : '' %>">
        <div class="question-content">
          <%= question.content %>
        </div>
        <div class="question-check">
          <div class="check-container"><i class="fa fa-check"></i></div>
          <input class="check_boxes checkbox-trigger optional hidden" type="checkbox" value="<%= question.id%>" name="survey[question_ids][]" id="survey_question_ids_<%= question.id%>">
        </div>
      </label>
      <% end %>
    </div>
    <% end %>
    <!-- Button trigger modal -->
  </div>
      <button type="button" class="new-question-button" data-toggle="modal" data-target=".new-question-modal">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>

    <!-- Button trigger modal -->
    <button type="button" class="edit-question-button" data-toggle="modal" data-target="#editModal">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  <% end %>
<!-- </div> End of tab_content_questions  -->
