 <div id="tab_content_questions">

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="myquestions">
          <% if survey.user.questions %>
          <%= simple_form_for [survey] do |f| %>
          <%= f.association :questions, label: false, as: :check_boxes, collection: survey.user.questions, label_method: :content, selected: survey.questions, wrapper_html:{ id: "#{f.object.id}", class: "question-container"} %>
          <%= f.submit "Add to survey", class: "btn btn-primary add-to-button" %>
          <% end %>
          <% end %>
          <!-- Button trigger modal -->
          <button type="button" class="new-question-button" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>

          <!-- Button trigger modal -->
          <button type="button" class="edit-question-button" data-toggle="modal" data-target="#editModal">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Add new question</h4>
                </div>
                <div class="modal-body">
                  <div id="new_question_form">
                    <%= render 'surveys/question_form', question: question, survey: survey %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit or delete your questions</h4>
              </div>
              <div class="modal-body">
                <div id="new_question_form">
                  <%= render 'surveys/edit_questions', question: question, survey: survey %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% Category.all.sort.each do |category| %>
        <div role="tabpanel" class="tab-pane" id="<%= category.name.downcase %>">
          <%= simple_form_for [survey] do |f| %>
          <%= f.association :questions, label: false, as: :check_boxes, collection: category.questions.all, label_method: :content, selected: survey.questions, wrapper_html:{class: "question-container"} %>
          <%= f.hidden_field :category, value: category.id %>
          <%= f.submit "Add to survey", class: "btn btn-primary add-to-button" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div> <!-- End of tab_content_questions  -->
