<div class="container-fluid answer-banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 50%), url(
  <% if @survey.cover_picture? %>
  <%= cl_image_path @survey.cover_picture.path, width: 2000, height: 1000, crop: :fill %>
  <% else %>
  <%= image_path("plane.jpg") %>
  <% end %>
  );">
  <%= link_to root_path, class: "answering-logo" do %>
  <%= image_tag "logo.png" %>
  <% end %>

  <div class="answering-avatar">
    <% if @survey.user.photo? %>
    <%= cl_image_tag @survey.user.photo.path, height: 100, width: 100, crop: :fill %>
    <% elsif @survey.user.facebook_picture_url? %>
    <%= image_tag @survey.user.facebook_picture_url.gsub("type=square", "type=large") %>
    <% else %>
    <%= image_tag "ninja.png" %>
    <% end %>
  </div>

  <div class="answer-banner-phrase text-center">
    <p><%= @survey.user.first_name.capitalize %> wants your travel tips on <span><%= @survey.city.split(",").first %></span></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 answers-container text-center">

      <%= simple_form_for @survey, url: answer_update_survey_path(@survey) do |survey_form| %>



      <% @survey.questions.each do |q| %>
      <%= field_set_tag q.content do %>
      <%= survey_form.simple_fields_for :questions, q do |question_form| %>
      <%= question_form.simple_fields_for :answers, Answer.new(question: q) do |f| %>
      <%= f.input :content, label: false, as: :text %>
      <%= f.input :location, placeholder: "Select place", class: "new-survey-from-city", label: false, required: true %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>








      <div class="survey-button-container text-center" style="width: 40%;">
        <%= survey_form.submit "Submit your answers", data: { confirm: 'Are you sure?' }, class: "btn btn-danger answer-button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
