<div class="banner filter" style="background-image: url(<%= image_path ("background.jpg") %>)">
  <div class="banner-content">
    <div class="banner-phrase">
      <p>Get <span style="color: #EE6352">personal travel advice</span> from your friends</p>
    </div>
    <div class="banner-form">
      <%= simple_form_for @survey, html: { class: "new-survey-form form-inline"} do |f| %>
      <%= f.input :city, placeholder: "Enter city", class: "new-survey-from-city", label: false %>
      <%= f.input :start_date, placeholder: "Select date", as: :string, input_html: { type: "text", class: "datepicker" }, label: false %>
      <%= f.submit "Create trip", class: "btn btn-primary new-survey-form-button" %>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true
    });

  });
</script>









