<div class="banner filter" style="background-image: url(<%= image_path ("background.jpg") %>)">
  <div class="banner-content">
    <div class="banner-phrase">
      <p>Get <span style="color: #EE6352">personal travel advice</span> from your friends</p>
    </div>
    <div class="banner-form">
      <%= simple_form_for @survey, html: { class: "new-survey-form"} do |f| %>
      <%= f.input :city, placeholder: "Where to ?", class: "new-survey-from-city", label: false, required: true %>
      <%= f.input :start_date, placeholder: "When ?", as: :string, input_html: { type: "text", class: "new-survey-form-date datepicker" }, label: false %>
      <%= button_tag(type: 'submit', class: "new-survey-form-button") do %>
      <i class="fa fa-paper-plane"></i>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="explanation-banner" style="background-image: url(<%= image_path("process.png") %>);">
</div>

<%= content_for (:after_js) do %>
<script type="text/javascript">
  $(document).ready(function(){
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      todayHighlight: true,
      autoclose: true
    });

  });
</script>
<% end %>









