<div class="container">
  <p><%= @survey.city %></p>
  <p><%= @survey.start_date %></p>
  <div class="row">
    <div class="col-xs-8">
      <div class="questions">
        <ul class="tabs nav nav-tabs" role="tablist">
          <li role="presentation" class="tab active"><a href="#myquestions" aria-controls="My Questions" role="tab" data-toggle="tab">
            <%= image_tag("categories/myquestions.png", class: "category-icon") %>
            <h3>My Questions</h3>
          </a>
        </li>
        <% Category.all.sort.each do |category| %>
        <li role="presentation" class="tab"><a href="#<%= category.name.downcase %>" aria-controls="<%= category.name.downcase %>" role="tab" data-toggle="tab">
          <%= image_tag(("categories/" + category.icon_name), class: "category-icon") %>
          <h3><%= category.name %></h3>
        </a>
      </li>
      <% end %>
    </ul>
    <div id="tab_content_questions">
      <%= render 'surveys/tab_content_questions', question: @question, survey: @survey %>
    </div>
  </div>
</div>
<div class="col-xs-4 survey-summary">
  <h3>Summary</h3>
  <ul>
    <% if @survey.questions %>
    <% @survey.questions.each do |question| %>
    <li class="summary-question-card"><%= question.content %></li>
    <% end %>
    <% end %>
  </ul>
</div>
</div>
</div>
<%= render 'surveys/show_responses', question: @question, survey: @survey %>
