<div class="container">
  <p><%= @survey.city %></p>
  <p><%= @survey.start_date %></p>
  <div class="row">
    <div class="col-xs-8">
      <div class="questions">
        <ul class="tabs nav nav-tabs" role="tablist">
          <li role="presentation" class="tab active"><a href="#myquestions" aria-controls="My Questions" role="tab" data-toggle="tab">
            <h3>My Questions</h3>
            <p>Category icon</p>
          </a>
        </li>
        <% Category.all.sort.each do |category| %>
        <li role="presentation" class="tab"><a href="#<%= category.name.downcase %>" aria-controls="<%= category.name.downcase %>" role="tab" data-toggle="tab">
          <h3><%= category.name %></h3>
          <p>Category icon</p>
        </a>
      </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="myquestions">
        <% if @survey.user.questions %>
        <%= simple_form_for [@survey] do |f| %>
        <%= f.association :questions, label: false, as: :check_boxes, collection: @survey.user.questions, label_method: :content, selected: @survey.questions, wrapper_html:{class: "question-card"} %>
        <%= f.submit "Add to survey", class: "btn btn-primary" %>
        <% end %>
        <% end %>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          New question
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add new question</h4>
              </div>
              <div class="modal-body">
                <%= simple_form_for @question, remote: true do |f| %>
                  <%= f.input :content, label: "Question" %>
                  <%= f.association :category %>
                  <%= f.submit class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
      <% Category.all.sort.each do |category| %>
      <div role="tabpanel" class="tab-pane" id="<%= category.name.downcase %>">
        <%= simple_form_for [@survey] do |f| %>
        <%= f.association :questions, label: false, as: :check_boxes, collection: category.questions.all, label_method: :content, selected: @survey.questions, wrapper_html:{class: "question-card"} %>
        <%= f.submit "Add to survey", class: "btn btn-primary" %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-xs-4 survey-summary">
  <h3>Summary</h3>
  <ul>
    <% if @survey.questions %>
    <% @survey.questions.each do |question| %>
    <li class="summary-question-card"><%= question.content %></li>
    <% end %>
    <% end %>
  </ul>
</div>
</div>
</div>
